.my-navbar {
    background-color: rgb(0, 0, 0) !important;
    border-bottom: #ed1c24;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ed1c24;

}

.nav-btn {
    color: #ffffff !important;
    background-color: #ed1c24 !important;

}

.nav-link {
    color: #ffffff !important;
    font-family:cursive;
}

.nav-link:hover {
    color: #ed1c24 !important;

}

.order-btn {
    background-color: #ed1c24;
    border: #ed1c24;
    color: antiquewhite;
    width: 200px;
    position: relative;
    right: 20px;
}

.my-slider {
    background-color: rgba(19, 18, 18, 0.89);
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ed1c24;
}

.welcom-section {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcom-text {
    color: aliceblue;
    font-family: Josefin Sans;
    font-size: 100px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.salt-paper {
    display: block;
    margin: 0px auto;
    width: 130px;
}

.res-text {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.bra-hed {
    color: #ffffff;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
}

.bra-title {
    color: #ffffff;
    text-align: center;
}

.cards-logo {
    display: flex;
}

.res-logo {
    width: 400px;
    height: 200px;
    border: 2px solid #ffffff;
    background-color: #FFFFFFE0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%)
}

.ras-pic {
    position: relative;
    top: 60px;
}

.cards-logo {
    height: 300px;
    justify-content: space-around;
    border-bottom: #ed1c24 2px solid;
}

.franchise {
    background-image: url(img/SaltnPepper-franchises-background.jpg);
    border-bottom: #ed1c24 2px solid;
    height: 750px;
}

.white-text-logo {
    margin-top: 50px;
}

.fra-hed {
    font-weight: 600;
    color: #ed1c24;
    font-family: Philosopher;
    margin-top: 20px;
}

.card-location-islamabad {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    background-image: url(img/Salt-n-Pepper-Restaurant-Islamabad-Franchise.jpg);
    background-size: cover;
    border-radius: 4px 4px 4px 4px;


}

.card-location-faisalabad {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    background-color: #FFFFFFE0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%)
}

.card-location-bahawalpur {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    background-color: #FFFFFFE0;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 15%)
}

.card-location {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.fa-location-dot {
    color: #ed1c24;
    margin-top: 90px;
}

.card-location-islamabad-h3 {
    font-family: Gilda Display;
    font-weight: 600;
    font-size: 22px;

}

.card-location-faisalabad {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    background-image: url(img/Salt-n-Pepper-Restaurant-Faisalabad-Franchise.jpg);
    background-size: cover;
    border-radius: 4px 4px 4px 4px;
}

.card-location-bahawalpur {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    background-image: url(img/Salt-n-Pepper-Restaurant-Bahawalpur-Franchise.jpg);
    background-size: cover;
    border-radius: 4px 4px 4px 4px;
}

.location-p {
    font-weight: 600;
}

.card-location-islamabad-h3,.location-p,.fa-location-dot {
 margin-top: 56px;
}
.under-line{
    border-bottom: 3px solid #ed1c24;
    width: 120px;   
}
.fa-chevron-circle-right{
    color: #ed1c24;
}
.contact-icon{
    color: #ed1c24;
}
.shcial-media{
    font-size:x-large;
    color: #ed1c24;
}
.copy-right{
    text-align: center;
    color: #55595c;
}
.hover-text:hover{
    color: #ed1c24;
}
